@page
@model VanHorn_NET_Final.Pages.Quizzes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz @Model.Quiz.QuizId</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Model.Quiz.QuizName
        </dd>
    </dl>
    <table class="table">
        <tbody>
            @{
                int questionNum = 1;
            }
            <tr>
                <td>
                    @if (Model.Quiz.Questions != null)
                    {
                        <header>Questions</header>
                        @foreach (var item in Model.Quiz.Questions)
                        {
                            <ul>
                                <li>
                                    Question @questionNum: @item.QuestionText
                                    @if (item.Options != null)
                                    {
                                        <header>Options</header>
                                        <ul>
                                            @foreach (var opt in item.Options)
                                            {
                                                <li>@opt.OptionText, @opt.Correct</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>No options exist for this question.</p>
                                    }
                                </li>
                                @{
                                    questionNum++;
                                 }
                            </ul>
                        }
                    }
                    else
                    {
                        <p>No questions exist for this quiz</p>
                    }
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quiz.QuizId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
