@page
@model VanHorn_NET_Final.Pages.Quizzes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quiz[0].QuizName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quiz) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizName)
            </td>
            <td>
                <a asp-page="./Attempt" asp-route-id="@item.QuizId">Attempt</a> |
                    <a asp-page="./Edit" asp-route-id="@item.QuizId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.QuizId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.QuizId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
