@page
@model VanHorn_NET_Final.Pages.Questions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        Quiz Id: @Model.Question.QuizId
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.QuestionId" />
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            <div>
                @if (Model.Question.Options != null)
                {
                    <header>Options</header>
                    <ul>
                        @foreach (var opt in Model.Question.Options)
                        {
                            <li>@opt.OptionText, @opt.Correct</li>
                            int questionId = Model.Question.QuestionId;
                            <a asp-page="/Options/Edit" asp-route-quizId="@questionId" asp-route-id="@opt.OptionId">Edit Option</a>
                        }
                    </ul>
                }
                else
                {
                    <p>No options exist for this question.</p>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Quizzes/Details" asp-route-id="@Model.Question.QuizId">Back to Quiz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
