@page
@model VanHorn_NET_Final.Pages.Submissions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<dl class="row">
    <h4>
        @if (Model.Questions.Count > 0 && Model.Questions.Count > Model.QuestionCount)
        {
            <p>Question Number @Model.Questions[Model.QuestionCount].QuestionId</p>
        }
    </h4>
</dl>
<form method="post">
    <input type="hidden" asp-for="Submission.SubId" />
    <input type="hidden" asp-for="Submission.StudentId" />
    <input type="hidden" asp-for="QuestionCount" />
    <table class="table">
        <tbody>
            @if (Model.Questions.Count > 0 && Model.Questions.Count > Model.QuestionCount)
            {
                <header> @Html.DisplayFor(model => model.Questions[Model.QuestionCount].QuestionText) </header>
                <ul>
                    @foreach (var opt in Model.Questions[Model.QuestionCount].Options)
                    {
                        <li>
                            <input id="@opt.OptionId" type="radio" name="options" class="rb" value="@opt.OptionText" />
                            <label for="" @opt.OptionId>@opt.OptionText </label>
                        </li>
                    }
                </ul>
            }
        </tbody>
    </table>
    @if (Model.Questions.Count > Model.QuestionCount)
    {
        <div class="form-group">
            <input type="submit" value="Next Question" class="btn btn-primary" />
        </div>
    }
    else
    {
        <div class="form-group">
            <input type="submit" value="Complete" class="btn btn-primary" />
        </div>
    }
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
