@page
@model VanHorn_NET_Final.Pages.Submissions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Submissions[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submissions[0].Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Submissions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz.QuizName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.SubId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
